/*
 * ===========================================================================
 *
 * Grids
 *
 * ===========================================================================
 *
 */
/*
 * Silent column which is @extended for all `.span-`
 */
%column {
    width: 100%;

    .keep & {
        float: left;
    }

    @include mq($breakpoint-lap) {
        float: left;
        order: 2;
    }
}
/*
 * Grouping container
 */
.group-container {
    width: 100%;
}
/*
 * Offset the first group container after the header element
 */
header + .group-container {

    @include mq($breakpoint-lap) {
        margin-top: 6em;
    };
    
}
.group {
    @extend %clearfix;

    width: 100%;
    max-width: em($breakpoint-mall);
    margin: 0 auto;
    // position: relative;

    @include mq($breakpoint-lap) {
        display: flex;
    }
}
[class~="span-1/5"] {
    @extend %column;

    .keep & {
        width: 20%;
    }
    
    @include mq($breakpoint-lap) {
       width: 20%; 
    }
}
[class~="span-2/5"] {
    @extend %column;

    .keep & {
        width: 40%;
    }

    @include mq($breakpoint-lap) {
        width: 40%;
    }
}
[class~="span-3/5"] {
    @extend %column;

    .keep & {
        width: 60%;
    }

    @include mq($breakpoint-lap) {
        width: 60%;
    }
}
[class~="span-4/5"] {
    @extend %column;

    .keep & {
        width: 80%;
    }

    @include mq($breakpoint-lap) {
        width: 80%;
    }
}
[class~="span-1/4"] {
    @extend %column;

    .keep & {
        width: 25%;
    }

    @include mq($breakpoint-lap) {
        width: 25%;
    }
}
[class~="span-1/2"],
[class~="span-2/4"] {
    @extend %column;

    .keep & {
        width: 50%;
    }

    @include mq($breakpoint-lap) {
        width: 50%;
    }
}
[class~="span-3/4"] {
    @extend %column;

    .keep & {
        width: 75%;
    }

    @include mq($breakpoint-lap) {
        width: 75%;
    }
}
[class~="span-1/3"] {
    @extend %column;

    .keep & {
        width: 33.3333%;
    }

    @include mq($breakpoint-lap) {
        width: 33.3333%;
    }
}
[class~="span-2/3"] {
    @extend %column;

    .keep & {
        width: 66.6666%;
    }

    @include mq($breakpoint-lap) {
        width: 66.6666%;
    }
}
[class~="span-1/1"],
[class~="span-2/2"],
[class~="span-3/3"],
[class~="span-4/4"],
[class~="span-5/5"], {
    @extend %column;
}