<ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/" itemprop="item">
            <span itemprop="name">Home</span>
        </a>
        <meta itemprop="position" position="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/young-learners" itemprop="item">
            <span itemprop="name">Young Learners</span>
        </a>
        <meta itemprop="position" position="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/young-learners/courses" itemprop="item">
            <span itemprop="name">Courses</span>
        </a>
        <meta itemprop="position" position="3" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/yong-learners/courses/current" itemprop="item">
            <span itemprop="name">Current page</span>
        </a>
        <meta itemprop="position" position="4" />
    </li>
</ol>