<header class="global-header bg bg--primary">


<a href="/" class="logo">
	<img src="/assets/images/logo.png" alt="Logo name">
</a>


	<button type="button" class="nav-toggle js-nav-toggle">
		<svg class="icon">
			<use xlink:href="#search" />
		</svg>
		<span>Menu</span>
	</button>


	<!-- Nav wrapper -->
	<nav class="nav-wrapper js-nav-wrapper" role="navigation">

	<div class="visuallyhidden" id="current">You&rquo;re on page:</div>

		<div class="nav nav--primary">

			<ul class="nav-list inline-list">
				<li>
					<a href="#">
					<svg class="icon">
						<use xlink:href="#search" />
					</svg>
					<span>Search</span>
					</a>
				</li>
				<li><a href="#">About AGT</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#" class="button button--subtle">My AGT</a></li>
			</ul>
		</div>

		<div class="nav nav--secondary">
			<ul class="nav-list inline-list">
			<li><a href="#">Home</a></li>
			<li class="nav--is-current"><a href="#" aria-describedby="current">News</a></li>
			<li><a href="#">Positions sales &amp; wanted</a></li>
			<li><a href="#">Ring list</a></li>
			<li><a href="#">Racegoers</a></li>
			<li><a href="#">Bookmakers</a></li>
		</ul>
		</div>

	</nav>
	<!-- / Nav wrapper -->

</header>
