<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="dist/assets/js/core.js"></script>
<script src="dist/assets/js/libraries/luhn.js"></script>
<script src="dist/assets/js/libraries/parsley.min.js"></script>
<script src="dist/assets/js/libraries/vanilla-masker.min.js"></script>
<script src="dist/assets/js/libraries/pikaday.js"></script>
<script src="dist/assets/js/libraries/pikaday.jquery.js"></script>
<script src="dist/assets/js/functions/updateARIAroles.js"></script>
<script src="dist/assets/js/functions/normalize.js"></script>
<script src="dist/assets/js/functions/polyfill.js"></script>
<script src="dist/assets/js/functions/collapsibles.js"></script>
<script src="dist/assets/js/app.min.js"></script>
