<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="/assets/scripts/development/libraries/luhn.js"></script>
<script src="/assets/scripts/development/libraries/parsley.min.js"></script>
<script src="/assets/scripts/development/libraries/vanilla-masker.min.js"></script>
<script src="/assets/scripts/development/libraries/pikaday.js"></script>
<script src="/assets/scripts/development/libraries/pikaday.jquery.js"></script>
<script src="/assets/scripts/development/ready.js"></script>
