<figure class="media" data-apollo-name="Media">
    <img class="media__image"
         src="/dist/assets/images/sherlock-16-9.jpg"
         alt="Sherlock Holmes and Dr. Watson sitting next to each in armchairs, deep in thought.">
    <figcaption class="media__caption">
        <h3 class="h4">Sherlock Holmes</h3>
        <p>At three o’clock precisely I was at Baker Street, but
            Holmes had not yet returned.</p>
        <a href="link" class="button button--primary"> <span>Call Mrs. Hudson</span>
            <svg class="icon">
                <use xlink:href="#arrow-right"/>
            </svg>
        </a>
    </figcaption>
</figure>
