<ul class="inline-list pagination" role="navigation"
    aria-label="Pagination" data-apollo-name="Pagination">
    <li class="pagination__item">
        <a href="#">
            <span class="visuallyhidden">Page</span>1<span
                class="visuallyhidden">of 123</span> </a>
    </li>
    <li class="pagination__item">
        <span>&hellip;</span>
    </li>
    <li class="pagination__item">
        <a href="#">
            <span class="visuallyhidden">Page</span>40<span
                class="visuallyhidden">of 123</span> </a>
    </li>
    <li class="pagination__item">
        <a href="#" rel="prev"> <span class="visuallyhidden">Page</span>41<span
                class="visuallyhidden">of 123</span> </a>
    </li>
    <li class="pagination__item">
        <span class="visuallyhidden">You&rsquo;re currently on page</span>42<span
            class="visuallyhidden">of 123</span>
    </li>
    <li class="pagination__item">
        <a href="#" rel="next"> <span class="visuallyhidden">Page</span>43<span
                class="visuallyhidden">of 123</span> </a>
    </li>
    <li class="pagination__item">
        <a href="#">
            <span class="visuallyhidden">Page</span>44<span
                class="visuallyhidden">of 123</span> </a>
    </li>
    <li class="pagination__item">
        <span>&hellip;</span>
    </li>
    <li class="pagination__item">
        <a href="#"> <span class="visuallyhidden">Page</span>123<span
                class="visuallyhidden">of 123</span> </a>
    </li>
</ul>
