/*------------------------------------*\
    #Apollo
\*------------------------------------*/


/*------------------------------------*\
    #Palette
\*------------------------------------*/

// Brand colours
$tundora-grey:                          hsl(0, 0%, 12%);
$scorpion-grey:                         hsl(0, 0%, 35%);
$nobel-grey:                          	hsl(0, 0%, 70%);
$silver-grey:                          	hsl(0, 0%, 75%);


$mercury-grey:                          #e5e5e5;

/*
 * Sass variables
 */

$primary-color:                         $tundora-grey;
$secondary-color:                       $scorpion-grey;
$tertiary-color:                        $nobel-grey;
$accent-color:                          $silver-grey;

$subtle-color:                          $mercury-grey;