/*------------------------------------*\
    #Apollo
\*------------------------------------*/
/*
 * Trello: https://trello.com/board-name-hash
 */



/*------------------------------------*\
    #Box-model
\*------------------------------------*/
/*
 * The box-model is set on the `HTML` element and is inherited by everything
 * else. This way you can change the box-model on a per-component basis by
 * changing it for the parent element and its children will inherit the right
 * box-model.
*/
$box-sizing:						border-box;



/*------------------------------------*\
    #Breakpoints
\*------------------------------------*/
/*
 * The measurements presented here are only for guidance and should be updated
 * to reflect the design/content needs.
 */
$breakpoint-wrist:					321;
$breakpoint-palm:					481;
$breakpoint-lap:					641;
$breakpoint-desk:					1025;
$breakpoint-wall:					1201;
$breakpoint-mall:					1367;

$max-width:							1200;

$breakpoint-width:					$max-width;

// Set to `true` to scope media-queries to `.lt-ie9`
$IE9:								false;



/*------------------------------------*\
    #Paths
\*------------------------------------*/
$img-path:							"/assets/images/";
$font-path:							"/assets/fonts/";
$svg-path:							"/assets/svg/";



/*------------------------------------*\
    #Typography
\*------------------------------------*/
$font-size:							16;
$font-leading:						24;
$font-style:						normal;
$font-weight:						400;
$font-family:						'Proza Libre';

$font-scale--default:               1.125;
$font-scale--larger:                1.2;



$heading-family:					'Playfair Display';
$heading-weight:					700;
$heading-style:						normal;

$mono-family:						Monaco, 'Lucida Console', monospace;

$emphasis-weight:					600;
$emphasis--more:                    800;
$emphasis-family:					$font-family;


// Prototype for new viewport contextual size mapping. We want to loop through these creating a mixin which allows the call for a size (and classes for all of them, allowing reuse in markup). Use the map name for the classes, e.g. 'size--2xl'
$type-sizes: (
    'default': (
        's':    ('size': 24, 'leading': 24),
        'm':    ('size': 20, 'leading': 24),
        'l':    ('size': 19, 'leading': 24),
        'xl':   ('size': 18, 'leading': 24),
        '2xl':  ('size': 17, 'leading': 24),
        '3xl':  ('size': 16, 'leading': 24)
    ),
    'lap': (
        's':    ('size': 48, 'leading': 24),
        'm':    ('size': 40, 'leading': 24),
        'l':    ('size': 31, 'leading': 24),
        'xl':   ('size': 25, 'leading': 24),
        '2xl':  ('size': 20, 'leading': 24),
        '3xl':  ('size': 16, 'leading': 24)
    ),
);


/*------------------------------------*\
    #Palette
\*------------------------------------*/



// Brand colours
$tundora-grey:                          hsl(0, 0%, 12%);
$scorpion-grey:                         hsl(0, 0%, 35%);
$nobel-grey:                          	hsl(0, 0%, 70%);
$silver-grey:                          	hsl(0, 0%, 75%);


$mercury-grey:                          #e5e5e5;


/*
 * Sass variables
 */

$primary-color:                         $tundora-grey;
$secondary-color:                       $scorpion-grey;
$tertiary-color:                        $nobel-grey;
$accent-color:                          $silver-grey;

$subtle-color:                          $mercury-grey;




/*------------------------------------*\
    #Border
\*------------------------------------*/
$border-style:						solid;
$border-width:						2px;
$border-color:						$primary-color;

// Shorthand for ease-of-use
$border: $border-width $border-style $border-color;



/*------------------------------------*\
    #Empathise with other people
\*------------------------------------*/
$empathise:                         false;
