<!-- Collapsibles wrapper -->
<div class="collapsibles js-collapsibles" data-apollo-name="Collapsibles">

    <!-- Section: collapsible: item -->
    <h3 class="heading size--xl js-collapsible-heading">A
        Scandal in Bohemia</h3>
    <div class="js-collapsible-content">
        <p>To Sherlock Holmes she is always the woman. I have
            seldom heard him mention her under any other name.
            In his eyes she eclipses and predominates the whole
            of her sex. It was not that he felt any emotion akin
            to love for Irene Adler.</p>
        <p>All emotions, and that one particularly, were
            abhorrent to his cold, precise but admirably
            balanced mind. He was, I take it, the most perfect
            reasoning and observing machine that the world has
            seen, but as a lover he would have placed himself in
            a false position. He never spoke of the softer
            passions, save with a gibe and a sneer.</p>
    </div>
    <!-- / Section: collapsible: item -->

    <!-- Section: collapsible: item -->
    <h3 class="heading size--xl js-collapsible-heading">The
        Red-Headed League</h3>
    <div class="js-collapsible-content">
        <p>At three o’clock precisely I was at Baker Street, but
            Holmes had not yet returned. The landlady informed
            me that he had left the house shortly after eight
            o’clock in the morning. I sat down beside the fire,
            however, with the intention of awaiting him, however
            long he might be.</p>
        <p>I was already deeply interested in his inquiry, for,
            though it was surrounded by none of the grim and
            strange features which were associated with the two
            crimes which I have already recorded, still, the
            nature of the case and the exalted station of his
            client gave it a character of its own.</p>
    </div>
    <!-- / Section: collapsible: item -->
</div>
<!-- / Collapsibles wrapper -->
