/*------------------------------------*\
    #Text-level elements
\*------------------------------------*/

b,
strong,
.strong {
	font-weight: $emphasis;
}



em,
i {
	font-style: italic;
}



small,
.small,
.small-caps {
	@include text-s;
	letter-spacing: 0.03em;
}


.small-caps {
	text-shadow: 0 0 0 $black;
	text-transform: uppercase;
}


code {
	background-color: $navy;
	color: $green;
	font-family: $mono-family;
	padding-left: $size-minus3;
	padding-right: $size-minus3;
}