/*------------------------------------*\
    #Body
\*------------------------------------*/

/*
 * HTML and Body
 */
html {
	height: 100%;
}


body {
	background: $white;
	color: $black;
	display: grid; // Needed for sticky footer
	grid-template-columns: 100%; // Needed for sticky footer
	grid-template-rows: 1fr auto; // Needed for sticky footer
	min-height: 100%; // Needed for sticky footer
	overflow-x: hidden;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}