/*------------------------------------*\
    #Focus
\*------------------------------------*/

:focus {
	outline: $size-minus3 solid $focus-color;
	outline-offset: -$size-minus3;
}

/**
Where focus is moved to the target via JavaScript, it is
acceptable not to show a focus outline.
 */
main:focus,
#main:focus,
[tabindex='-1']:focus {
	outline: none;
}