/*------------------------------------*\
    #Globals
\*------------------------------------*/


/*
 * Global selector
 */
*,
*::before,
*::after {
	box-sizing: border-box;
	background-color: inherit;
	font-family: inherit;
	color: inherit;
	margin: 0;
	overflow-wrap: break-word;
	padding: 0;
}


/*
 * HTML and Body
 */
html {
	min-height: 100vh;
}


html,
body {
	font-size: percentage($font-size/16);
}


body {
	background: $white;
	color: contrast($white);
}