/*------------------------------------*\
    #Icons
\*------------------------------------*/

svg {

	height: auto;
	fill: currentColor;
	width: 100%;

}


/**
Inline SVG icons
 */
.icon--inline {
	height: 0.75em;
	position: relative;
	vertical-align: baseline;
	width: 0.75em;
}