/*------------------------------------*\
    #Text-level elements
\*------------------------------------*/

small,
.small {
	 @include text-s;
}


.small-caps {
	font-size: em(12);
	text-shadow: 0 0 0 $black;
	text-transform: uppercase;
}


small,
.small,
.small-caps {
	letter-spacing: 0.03em;
}



strong,
.strong {
	font-weight: $emphasis-weight;
}



code {
	background-color: $navy;
	color: $green;
	padding: $size-minus3;
}