/*------------------------------------*\
    #Links
\*------------------------------------*/

/**
Default global link styles that do not interfere with component link styles
- see https://alexcarpenter.me/screencasts/2019/02/global-link-styles/

1. Don't rely on colour alone for styling links - see
https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F73

2. Remove the outline on focused links when they are also active/hovered.
 */
a:not([class]) {

	border: 0;
	color: $link-color;
	cursor: pointer;
	text-decoration: underline; /* 1 */
	text-decoration-skip-ink: auto;

	&:visited {
		color: $link-color--visited;
	}

	&:hover,
	&:active {
		color: $link-color--hover;
		outline-width: 0; /* 2 */
		text-decoration: none;
	}

}