/*------------------------------------*\
    #Links
\*------------------------------------*/

/**
Default global link styles that do not interfere with component link styles
- see https://alexcarpenter.me/screencasts/2019/02/global-link-styles/

1. Don't rely on colour alone for styling links.

2. Remove the outline on focused links when they are also active/hovered.
 */
a:not([class]) {

	border: 0;
	color: $link-color;
	cursor: pointer;
	display: inline;
	text-decoration: underline; /* 1 */
	text-decoration-skip-ink: auto;


	&:focus {
		outline: $size-minus3 solid $focus-color;
		outline-offset: $size-minus4;
		transform: translateZ(0);
		z-index: z("top");
	}


	&:visited {
		color: $link-color--visited;
	}


	&:hover,
	&:active {
		color: $link-color--hover;
		outline-width: 0; /* 2 */
		text-decoration: none;
	}

}




/**
Remove underlines from telephone number links.
It makes phone numbers easier to read.
 */
a[href^="tel:"] {

	border: 0 !important;
	text-decoration: none !important;

	&:hover,
	&:active,
	&:focus {
		border: 0 !important;
		text-decoration: none !important;
	}

}