/*------------------------------------*\
    #Lists
\*------------------------------------*/

/**
Remove default list styles on lists with a class name (e.g. 'nav-list')
and on lists within the `nav` element
 */
nav ul,
ol[class],
ul[class] {
	list-style: none;
	padding-left: 0;
}




ul:not([class]),
ol:not([class]) {

	padding-left: 1.875em;

	li {

		padding-left: 1em;

	}

	ul,
	ol {

		padding-left: 1em;

	}

	> * + *,
	li ul,
	li ol {

		margin-top: 0.5em;

	}

}


ol:not([class]) {

	list-style-type: none;

	> li {

		column-break-inside: avoid;
		counter-increment: orderedList;
		display: block;
		position: relative;

		&:before {
			content: counters(orderedList, ".");
			display: block;
			font-weight: 500;
			left: -0.8em;
			position: absolute;
			top: 0;
		}

		&:first-child {
			counter-reset: orderedList;
		}

		ol li {
			padding-left: 1.75em;
		}

	}

}


// No bullets or numbering
.clean-list {

	li {
		display: block;
	}

}


// An alternative to `.l-cluster` (/50-layouts/cluster)
//if things still need to be aligned in a row in IE9
.inline-list {

	li {
		display: inline-block;
		margin-bottom: 0.5em;
		margin-right: 1.5em;
		margin-top: 0;
	}

	li:last-child {
		margin-bottom: 0;
		margin-right: 0;
	}

}

/**
Description lists / Definition lists
 */

dl {

	dd + dt {
		margin-top: 0.5em;
	}

	dt + dd,
	dd + dd {
		margin-top: 0.25em;
	}

}