/*------------------------------------*\
    #Elements
\*------------------------------------*/



 small,
 .small {

	 @extend .size--s;

 }


.small-caps {

	// font-size: 0.89em;
	font-size: em(12);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-shadow: 0 0 0 $black;

}



strong,
.strong{

	// color: red;
	font-weight: $emphasis-weight;

}


em {

	// This is 4.5:1 against #fff and the max desaturated grey we can have and
	// still be accessible.
	color: luma(40);

}
