<figure class="banner" role="banner" data-apollo-name="Banner">
    <img class="banner__image"
         src="/dist/assets/images/sherlock-banner.jpg"
         alt="Descriptive text.">
    <figcaption class="banner__caption">

        <h2 class="heading size--xxl">The Adventure of the
            Engineer’s Thumb</h2>
        <div class="lead">
            <p>At three o’clock precisely I was at Baker Street,
                but Holmes had not yet returned.</p>
        </div>
        <p>
            <a href="link" class="button button--secondary">
                <span>Call Mrs. Hudson today</span>
                <svg class="icon">
                    <use xlink:href="#arrow-right"/>
                </svg>
            </a>
        </p>

    </figcaption>
</figure>
