/*------------------------------------*\
    #Card list
\*------------------------------------*/

.card-list li {

	background-color: $subtle-color;
	position: relative;

}

.card {

	display: flex;
	flex-direction: column;
	height: 100%;

	.card__link {

		color: $black;
		outline: none;

		text-decoration: none;

		&:focus {
			text-decoration: underline;
		}

		&::after {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 5;
		}

	}

}

.card__text {

	@include stack(1rem);

	flex-grow: 1;
	order: 1;

	.card__heading {
		@extend .h4;
	}

	/**
	Look for focus within the card header and use the general sibling combinator to
	delegate the focus style to the call-to-action button.
	 */
	.card__heading:focus-within ~ .card__cta {
		box-shadow: 0 0 0 $size-minus3;
		outline: solid $size-minus3 transparent;
	}

	/**
	Minimum spacing between the call-to-action button and the preceding element.
	Matches the measure used for the stack mixin on `.card`
	 */
	> :nth-last-child(2) {
		margin-bottom: 1rem;
	}

	/**
	Pushes all call-to-action buttons to the bottom of the card.
	 */
	> :last-child {
		margin-top: auto;
	}

}

/**
This needs to sit here to cascade correctly. If focus-within is supported by the browser,
remove the default focus style from `.card__link`.
 */
.card:focus-within .card__link:focus {
	text-decoration: none;
}