/*------------------------------------*\
    #Card list
\*------------------------------------*/

.card-list li {

	background-color: $subtle-color;
	position: relative;

	&:hover {
		background-color: darken($subtle-color, 5%);
	}

}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	 .card__link{

		color: $black;
		text-decoration: none;

		&::after {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 10;
		}

		&:focus {
			text-decoration: underline;
		}

	}

	&:focus-within {
		background-color: darken($subtle-color, 5%);

		a:focus {
			text-decoration: none;
		}
	}
}

.card__text {

	@include stack(1rem);

	flex-grow: 1;
	order: 1;

	:nth-last-child(2) {
		margin-bottom: 1rem; // Matches the measure used for the stack mixin
	}

	:last-child {
		margin-top: auto;
	}

}