/*------------------------------------*\
    #Collapsible sections
\*------------------------------------*/

.js .component--collapsibles {

	// Added via JavaScript
	[data-heading="collapsibles"] button {

		align-items: center;
		background-color: $silver;
		color: inherit;
		display: flex;
		font-weight: $heading-weight;
		justify-content: space-between;
		padding: $size;
		width: 100%;

		&:hover {
			background-color: $grey;
		}

		&[aria-expanded="true"] .vert {
			display: none;
		}

		svg {
			height: 1em;
			width: 1em;
		}

	}

	[data-heading="collapsibles"] + * {

		@include stack;

		padding: $size;

		&[aria-hidden="true"] {
			display: none;
		}

	}

	* + [data-heading="collapsibles"] {

		margin-top: $size;

	}

}