/*------------------------------------*\
    #Global header
\*------------------------------------*/

.global-header {

	> div {
		align-items: center;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(1300);
	}

}
