/*------------------------------------*\
    #Tag list
\*------------------------------------*/

.tag-list {

	margin: calc(#{$size-minus1} / 2 * -1);

	li {
		margin: calc(#{$size-minus1} / 2);
	}

}

.tag {

	@include text-s;

	background-color: $aqua;
	display: block;
	font-size: rem(14);
	padding: $size-minus2;

}

a.tag {
	position: relative;
	text-decoration: none;
	z-index: 10;
}