/*------------------------------------*\
    #Banner
\*------------------------------------*/



.banner {

	width: 100%;
	max-width: em($breakpoint-width);

	margin-left: auto;
	margin-right: auto;

  position: relative;

  img {

    object-fit: cover;
    width: 100%;
    height: 100%;

  }

  figcaption {

    max-width: 40%;

    position: absolute;
    top: 20%;
    right: 20%;

    padding: 1.5em;

    background-color: $subtle-color;
    color: contrast($subtle-color);

  }

}
