/*------------------------------------*\
    #Icons
\*------------------------------------*/

.credit-card {

    width: em(78);
    height: em(48);

    //position: absolute;
    //top: em(32);
    //right: em(32);

    // Align credit card icon with the abreasted field
    margin-top: 2em;

    .credit-card__outer { fill: black; }
    .credit-card__inner { fill: white; }
    .credit-card__magnetic-strip { fill: black; }
    .credit-card__digits { fill: green; }
    .credit-card__name { fill: blue; }
    .credit-card__cvc { fill: red; }

}

// Active different areas of the SVG credit card based on which field is active (using data attributes)
[data-focussed="ccname"] {}
[data-focussed="cardnumber"] {}
[data-focussed="cc-exp"] {}
[data-focussed="cvc"] {}