/*------------------------------------*\
    #Global header
\*------------------------------------*/



.global-header {

	margin-top: 0;

  position: relative;
  z-index: z("header");

  border-top: 1em solid $subtle-color;

  text-align: right;
  padding: 1em;

  @include mq($breakpoint-lap) {

    padding: 0;
    border: 0;

  }

}
