/*------------------------------------*\
    #Tab interface
\*------------------------------------*/


.tab-interface {

  width: 100%;
  max-width: em($breakpoint-width);

  margin-left: auto;
  margin-right: auto;

}



a[role="tab"] {

  // Remove fancy link underlines
  background-image: none;
  text-shadow: none;

  border: 0;

  background-color: rgba($subtle-color, 0.25);
  color: contrast($subtle-color);

  padding: 0.5em 0.75em;
  display: inline-block;

  height: 100%;
  width: 100%;

  @include mq($breakpoint-lap) {

    width: auto;

  };

}


a[aria-selected], a[role="tab"]:focus {

  background-color: $subtle-color;
  color: contrast($subtle-color);

}


a[role="tab"]:focus {

  // background: #eee;

}

[role="tablist"] {

  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;

  li {

    width: 25%;

    margin-top: 0;

    display: inline-block;
    list-style: none;

    margin-right: 1px;

    @include mq($breakpoint-lap) {

        width: auto;
        margin-right: 2px;

    }

    &:last-child {

      margin-right: 0;

    }

  }

}



// Where the tabbable content goes
[role="tabpanel"] {

  margin-top: 0;

  background-color: $subtle-color;
  color: contrast($subtle-color);

  padding: 1em;

  a {

    color: contrast($subtle-color);

    &:visited {

      color: contrast($subtle-color);

    }

    &:hover,
    &:focus,
    &:active {

      color: deviate(contrast($subtle-color));

    }

  }

}

[role="tabpanel"][aria-hidden="true"] {

  display: none;

}

[role="tabpanel"]:focus {

  background: #eee;
  outline: thin dotted;

}
