/*------------------------------------*\
    #Images
\*------------------------------------*/
img {

	/**
	 * We should be defining dimensions on images inline using the
	 * width and height attributes so that the browser can reserve space
	 * for images, which in turns saves on the number of repaints. But we still
	 * want responsive images.
	 */
	width: 100%;
	height: auto;
	vertical-align: middle;

}