/*------------------------------------*\
    #Labels
\*------------------------------------*/



.label {

  font-size: 1rem;
  font-weight: $font-weight;

  &--alert {

    color: $alert-color;

  }

  &--subtle {

    color: grey;

  }

}
