<!-- Share this -->
<div class="share" data-apollo-name="Share">
    <a href="#share-this"
       class="share__share-button js-share__share-button"
       aria-label="Open share panel"
       aria-expanded="false"
       aria-haspopup="true">
        <svg class="icon share__share-icon" aria-hidden="true">
            <use xlink:href="#icon-share"/>
        </svg>
        <span class="share__share-text">Share this</span> </a>

    <!-- change aria-hidden to `true` if js -->
    <div class="share__panel js-share__panel"
         id="share-this"
         aria-hidden="true">

        <p class="heading size--xl share__title" aria-hidden="true">
            Share this with</p>

        <ul class="share__channels">
            <li class="share__channel share__channel--email">
                <a class="share__channel-link"
                   href="mailto:?subject={SUBJECT}&amp;body={URL}">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#email"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">Email</span>
                    <span class="visuallyhidden">Share this with Email</span>
                </a>
            </li>
            <li class="share__channel share__channel--facebook">
                <a class="share__channel-link"
                   href="https://www.facebook.com/sharer/sharer.php?u={URL}">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#facebook"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">Facebook</span>
                    <span class="visuallyhidden">Share this with Facebook</span>
                </a>
            </li>
            <li class="share__channel share__channel--twitter">
                <a class="share__channel-link"
                   href="https://twitter.com/intent/tweet?text={TEXT}&amp;url={URL}">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#twitter"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">Twitter</span>
                    <span class="visuallyhidden">Share this with Twitter</span>
                </a>
            </li>
            <li class="share__channel share__channel--pinterest">
                <a class="share__channel-link"
                   href="https://uk.pinterest.com/pin/create/bookmarklet/?url={URL}&amp;description={DESCRIPTION}&amp;title={TITLE}&amp;media={IMAGE}">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#pinterest"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">Pinterest</span>
                    <span class="visuallyhidden">Share this with Pinterest</span>
                </a>
            </li>
            <li class="share__channel share__channel--whatsapp">
                <a class="share__channel-link"
                   href="whatsapp://send?text={TEXT - URL}%3Focid%3Dwsnews.chat-apps.in-app-msg.whatsapp.trial.link1_.auin">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#whatsapp"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">WhatsApp</span>
                    <span class="visuallyhidden">Share this with WhatsApp</span>
                </a>
            </li>
            <li class="share__channel share__channel--linkedin">
                <a class="share__channel-link"
                   href="https://www.linkedin.com/shareArticle?mini=true&url={URL}&title={TITLE}&summary={SUMMARY optional}&source={SOURCE optional}">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#linkedin"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">LinkedIn</span>
                    <span class="visuallyhidden">Share this with LinkedIn</span>
                </a>
            </li>
            <li class="share__channel share__channel--google-plus">
                <a class="share__channel-link"
                   href="https://plus.google.com/share?url={URL}">
                    <svg class="icon share__share-icon"
                         aria-hidden="true">
                        <use xlink:href="#google-plus"/>
                    </svg>
                    <span class="share__channel-label" aria-hidden="true">Google +</span>
                    <span class="visuallyhidden">Share this with Google plus</span>
                </a>
            </li>
        </ul>

        <button class="share__close-button js-share__share-button">
            <span class="visuallyhidden">Close share panel</span>
            <span class="share__close-button-graphic"
                  aria-hidden="true">×</span>
        </button>
    </div>
</div>
<!-- / Share this -->
