/*------------------------------------*\
    #Breadcrumbs
\*------------------------------------*/

/* ol */.breadcrumbs {

	// Remove default padding
	padding-left: 0;

	max-width: em($breakpoint-width);
	margin-left: auto;
	margin-right: auto;

	border-bottom: 1px solid $subtle-color;

}

/* ol */.breadcrumbs li {

	margin-top: 0;
	display: inline-block;

	margin-bottom: 0.5em;
	margin-right: 1.5em;

	position: relative;

	&:after {

		content: " ";

		position: absolute;
		top: 0.3em;
		right: -1.5em;

		width: 1em;
		height: 1em;


		// Needs reviewing
		background-image: svg-url('<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>');
		background-size: 1em 1em;

	}

	&:last-child {

		margin-bottom: 0;
		margin-right: 0;

			// Remove breadcrumb arrow on last element.
			&:after {

				content: none;

			}

	}

}
