/*------------------------------------*\
    #Icons
\*------------------------------------*/



/* SVG icon */
.icon {

	margin-top: 0;

	display: inline-block;

	width: em(15);
	height: em(15);

	fill: currentColor;

	vertical-align: middle;

	position: relative;
	top: -0.0625em;

	&--l {

		width: em(64);
		height: em(64);

	}

}

.icon + span:not(.visuallyhidden),
span:not(.visuallyhidden) + .icon {

	margin-left: 0.5rem;

}