/*------------------------------------*\
    #Lists
\*------------------------------------*/



ul, ol {

	padding-left: 1.5em;

}


.inline-list {

	padding-left: 0;

	li {

		margin-top: 0;

		display: inline-block;

		margin-bottom: 0.5em;
		margin-right: 1.5em;

	}

	li:last-child {

		margin-bottom: 0;
		margin-right: 0;

	}

}



/*------------------------------------*\
    #Ordered list
\*------------------------------------*/
ol:not(.breadcrumbs) {

	list-style-type: none;
	padding-left: 0;

	counter-reset: orderedList;

	> li {

		display: block;
		position: relative;

		padding-left: 2.25em;

		column-break-inside:avoid;

		&:before {

			display: block;
			counter-increment: orderedList;
			content: counters(orderedList, ".");

			position: absolute;
			top: 0;
			left: 0;

			color: $primary-color;

		}

	}

}


/*------------------------------------*\
    #Definition list
\*------------------------------------*/
dl {

	display: flex;
	flex-flow: column nowrap;

	background-color: luma(90);

	@include mq($breakpoint-lap) {

		flex-flow: row wrap;

	}

}



dt {

	margin-top: 0;

	padding: 1em 1em 0 1em;
	font-weight: bold;

	&:after {

		content: "\3A";

	}

	@include mq($breakpoint-lap) {

		width: 33.3333%;
		padding: 1em;

	}

}



dd {

	margin-top: 0;

	padding: 0 1em 1em 1em;

	@include mq($breakpoint-lap) {

		width: 66.6666%;
		padding: 1em;

	}

}

dd + dt {

	position: relative;

	&:before {

		content: " ";
		display: block;
		width: 100%;
		height: em(2);

		position: absolute;
		top: 0;
		left: 0;

		background-color: $white;

	}

	@include mq($breakpoint-lap) {

		&:before {

			// Make it 3 times as wide as 33.33%
			width: 300%;

		}

	}

}


/*------------------------------------*\
    #Clean list
\*------------------------------------*/
.clean-list {

	// Remove the default padding from `ul` and `ol` elements
	padding-left: 0;


	li {

		// margin-top: 0;

		display: block;

	}

}



.clean-list--compact {

	li { margin-top: 0; }

}
