/*------------------------------------*\
    #Body
\*------------------------------------*/



html { height: 100%; }



html,
body {
    margin: 0;
    padding: 0;

    // To prevent unwanted horizontal scrolling
    // overflow-x: hidden;

    font-size: percentage($font-size/16);
}

body {

	min-height: 100%;

	background: $white;
	color: contrast($white);

	font-style: $font-style;
	font-weight: $font-weight;
	font-size: 1em;
	font-family: $font-family;
	line-height: $font-leading/$font-size;

  @include mq($breakpoint-lap) {

  }

}
