/*------------------------------------*\
    #Colours
\*------------------------------------*/

.bg {

    .lead {

        color: inherit;

    }

    &--primary {

        background-color: $primary-color;
        color: contrast($primary-color);

        //@include inverted-links($primary-color);

    }

    &--secondary {

        background-color: $secondary-color;
        color: contrast($secondary-color);

        //@include inverted-links($secondary-color);

    }

    &--tertiary {

        background-color: $tertiary-color;
        color: contrast($tertiary-color);

        //@include inverted-links($tertiary-color);

    }

    &--accent {

        background-color: $accent-color;
        color: contrast($accent-color);

        //@include inverted-links($accent-color);

    }

    &--subtle {

        background-color: $subtle-color;
        color: contrast($subtle-color);

        //@include inverted-links($subtle-color);

    }

    // Neutrals

    &--white {

        background-color: $white;
        color: contrast($white);

        //@include inverted-links($white);

    }

    &--black {

        background-color: $black;
        color: contrast($black);

        //@include inverted-links($black);

    }

    // System colour palette

    &--alert {

        background-color: $alert-color;
        color: contrast($alert-color);

        @include links($alert-color);

    }

    &--warning {

        background-color: $input-error-color;
        color: contrast($input-error-color);

        @include links($input-error-color);

    }

}

.color {

    &--primary {
        color: $primary-color;
    }
    &--secondary {
        color: $secondary-color;
    }
    &--tertiary {
        color: $tertiary-color;
    }
    &--accent {
        color: $accent-color;
    }

}
