<table class="table table--primary" data-apollo-name="Tables">
    <thead>
    <tr>
        <th>Course</th>
        <th>Ring</th>
        <th>Position</th>
        <th>Price</th>
    </tr>
    </thead>
    <!-- tfoot comes before tbody -->
    <tfoot>
    <tr>
        <td>thingy</td>
        <td>sg</td>
        <td>tjhing</td>
        <td>sdh</td>
    </tr>
    </tfoot>
    <!-- tfoot comes before tbody -->
    <tbody>
    <tr>
        <td>Ascot</td>
        <td>Flat Tattersalls</td>
        <td><strong>£300,000</strong> Guide price</td>
        <td><a href="/link">Enquire</a></td>
    </tr>
    <tr>
        <td>Ascot</td>
        <td>Flat Tattersalls</td>
        <td><strong>£24,000</strong> (7 bids) <span
                class="alert">4 min left (Today 15:45)</span>
        </td>
        <td><a href="/link">Place bid</a></td>
    </tr>
    <tr>
        <td>Ascot</td>
        <td>Flat Tattersalls</td>
        <td>Offers</td>
        <td><a href="/link">Enquire</a></td>
    </tr>
    <tr>
        <td>Ascot</td>
        <td>Flat Tattersalls</td>
        <td><strong>£24,000</strong> (54 bids) span.</td>
        <td><a href="/link">Place bid</a></td>
    </tr>
    </tbody>
</table>
