/*------------------------------------*\
    #Media
\*------------------------------------*/



.media {

	position: relative;

}



.media--video,
.media--map {

	iframe {

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;



	}

}


// Find selector anywhere within a string
[class*="-16:9"] {

	height: 0;
	padding-bottom: 56.25%;

}


// Find selector anywhere within a string
[class*="-4:3"] {

	height: 0;
	padding-bottom: 75%;

}



.media--abreast {

	@include mq($bp-tab-small) {

		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;

		.media__caption {

			margin-top: 0;

		}

	}

}



.media--left-on-lap {

	@include mq($bp-tab-small) {

		.media__image {

			width: 38.2%;
			margin-right: em($font-leading);
			height: auto;

		}

		.media__caption {

			order: 2;

		}

	}

}



.media--right-on-lap {

	@include mq($bp-tab-small) {

		.media__image {

			order: 2;

			width: 38.2%;
			margin-left: em($font-leading);
			height: auto;

		}

	}

}
