/*------------------------------------*\
    #Quotes
\*------------------------------------*/



.quote {

	blockquote {

		@extend .size--xl;

		quotes: "\201C""\201D""\2018""\2019";

	}

	blockquote p:first-child:before {

		content: open-quote;

	}
	blockquote p:last-of-type:after {

		content: close-quote;

	}

}
