/*------------------------------------*\
    #Share
\*------------------------------------*/

.share {

    position: relative;

}

.share__share-button {

    @extend .button;

    text-decoration: none;

}

.share__close-button {

    //@extend .button;
    //@extend .button--primary;

    background-color: transparent;
    border: 0;

    display: inline-block;

    position: absolute;
    top: rem(8);
    right: rem(8);

    padding: 0.25rem 0.5rem;
    font-size: 2em;
    line-height: 1;


    &:hover,
    &:focus,
    &:active {

        background-color: #666;

    }

}

.share__panel {

    margin-top: 1rem;

    background-color: $mercury-grey;
    color: $black;

    padding: 1rem 4rem 1rem 1rem;
    border-radius: 0.2em;

    position: relative;

    .js & {

        position: absolute;
        top: 100%;
        left: 0;

    }

    &:before {

        content: " ";
        display: block;

        position: absolute;
        top: em(- 12);
        left: em(16);

        width: 0;
        height: 0;
        border-left: em(16) solid transparent;
        border-right: em(16) solid transparent;

        border-bottom: em(16) solid $mercury-grey;

    }

}

// ul
.share__channels {

    padding-left: 0;
    margin-top: 2em;

    .js & {

        max-width: 32em;

    }

}

// li
.share__channel {

    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;

    .js & {

        display: block;

    }

}

// a
.share__channel-link  {

}

// span // label for sighted users (hidden with aria-hidden)
.js .share__panel[aria-hidden="true"] {

    visibility: hidden;
    //max-height: 0;
    //overflow: hidden;

}

.js .share__panel[aria-hidden="false"] {

    visibility: visible;
    //max-height: 12em;
    //overflow: visible;

}

.share__close-button {

    display: none;

    .js & {

        display: block;

    }

}

.share__panel .share__share-icon {

    width: 2em;
    height: 2em;

    padding: 0.5em;

    background-color: $link-color;
    color: contrast($link-color);

    .share__channel-link:visited & {

        background-color: $link-color--visited;
        color: ($link-color--visited);

    }

    .share__channel-link:hover &,
    .share__channel-link:focus &,
    .share__channel-link:active & {

        background-color: $link-color--hover;
        color: contrast($link-color--hover);

    }

}

/*------------------------------------*\
    #Brand colours
\*------------------------------------*/
.share__channel--facebook .share__share-icon {

    background-color: $facebook;
    color: white;

    .share__channel-link:visited & {

        background-color: $facebook;

    }

    .share__channel-link:hover &,
    .share__channel-link:focus &,
    .share__channel-link:active & {

        background-color: deviate($facebook);

    }

}

.share__channel--twitter .share__share-icon {

    background-color: $twitter;
    color: white;

    .share__channel-link:visited & {

        background-color: $twitter;

    }

    .share__channel-link:hover &,
    .share__channel-link:focus &,
    .share__channel-link:active & {

        background-color: deviate($twitter);

    }

}

.share__channel--pinterest .share__share-icon {

    background-color: $pinterest;
    color: white;

    .share__channel-link:visited & {

        background-color: $pinterest;

    }

    .share__channel-link:hover &,
    .share__channel-link:focus &,
    .share__channel-link:active & {

        background-color: deviate($pinterest);

    }

}

.share__channel--whatsapp .share__share-icon {

    background-color: $whatsapp;
    color: white;

    .share__channel-link:visited & {

        background-color: $whatsapp;

    }

    .share__channel-link:hover &,
    .share__channel-link:focus &,
    .share__channel-link:active & {

        background-color: deviate($whatsapp);

    }

}

.share__channel--linkedin .share__share-icon {

    background-color: $linkedin;
    color: white;

    .share__channel-link:visited & {

        background-color: $linkedin;

    }

    .share__channel-link:hover &,
    .share__channel-link:focus &,
    .share__channel-link:active & {

        background-color: deviate($linkedin);

    }

}
