/*------------------------------------*\
    #Mixins
\*------------------------------------*/
/*
 * Standard media query
 */


/*------------------------------------*\
    #Transition
\*------------------------------------*/
@mixin transition(
    $property: $transition-property-default,
    $duration: $transition-duration-default,
    $timing: $transition-timing-default,
    $delay: $transition-delay-default
) {

    transition: $property $duration $timing $delay;

}