/*------------------------------------*\
    #Typesetting
\*------------------------------------*/

$font-family:						'Proza Libre';
$font-style:						normal;
$font-weight:						400;


$heading-family:					'Playfair Display';
$heading-style:						normal;
$heading-weight:					700;


$mono-family:						Monaco, 'Lucida Console', monospace;


$emphasis-weight:					600;
$emphasis--more:                    800;
$emphasis-family:					$font-family;