/*------------------------------------*\
    #Focus
\*------------------------------------*/




input,
select,
textarea,
button,
[contenteditable="true"] {

	&:focus {

		outline: 0.2em solid $focus-color;

	}

}



.input--checkbox:focus + .checkbox-label:before,
.input--radio:focus + .radio-label:before,
.input--course:focus + .course-label:before,
.input--checkbox:focus + .checkbox-label,
.input--radio:focus + .radio-label,
.input--course:focus + .course-label {

	outline: 0.2em solid $focus-color;

	background-color: $focus-color;
	color: contrast($focus-color);

}
