/*------------------------------------*\
    #Focus
\*------------------------------------*/



$focus-color: skyblue !default;



a {

	&:focus {

		outline: 0.2em solid $focus-color;
		outline-offset: 0.2em;

		// background-color: $focus-color !important;
		// color: contrast($focus-color) !important;

		/* Force the element to a higher stacking order to have the outline
		 * effect show on top of nearby elements.
		 */
		transform: translateZ(0);
		z-index: z("top");

	}

}



input,
select,
textarea,
button,
[contenteditable="true"] {

	&:focus {

		outline: 0.2em solid $focus-color;

	}

}



.input--checkbox:focus + .checkbox-label:before,
.input--radio:focus + .radio-label:before,
.input--course:focus + .course-label:before,
.input--checkbox:focus + .checkbox-label,
.input--radio:focus + .radio-label,
.input--course:focus + .course-label {

	outline: 0.2em solid $focus-color;

	background-color: $focus-color;
	color: contrast($focus-color);

}
