/*------------------------------------*\
    #Stack layout primitive

    From https://absolutely.every-layout.dev/layouts/stack/

    `.l-stack` allows us to add vertical spacing between its child elements,
    like the 'axiomatic owl' but more targeted.

    The suggested base measurement for the stack matches the base line-height
    as defined in /40-base/typography.

    By giving `.stack` Flexbox context, we can give it the ability to add an
    auto margin to a chosen element. This way, we can choose to group elements
    inside the stack to the top/bottom of the vertical space using auto margins,
    which is useful for card-like components.
\*------------------------------------*/

.l-stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


.l-stack > * + * {
	margin-top: $size-plus1;
}

// @TODO: add zero margin exceptions for visually-hidden elements from /02-generic/axiomatic-owl