/*------------------------------------*\
    #Wireframes
\*------------------------------------*/

[data-apollo-name] {

    position: relative;

    border: 2px dashed $black;
    &:before {

        font-size: 0.75em;

        display: inline-block;
        content: attr(data-apollo-name) " component";
        position: absolute;
        bottom: 100%;
        right: -2px;

        padding: 0.25em 0.5em;

        background: $black;
        color: contrast($black);

    }

}