/*------------------------------------*\
    #Wireframes
\*------------------------------------*/

[data-apollo-name] {

    border: 2px dashed $black;

    position: relative;
    &:before {

        background: $black;

        bottom: 100%;
        color: contrast($black);
        content: attr(data-apollo-name) " component";
        display: inline-block;
        font-size: 0.75em;

        padding: 0.25em 0.5em;

        position: absolute;
        right: -2px;

    }

}