<ul class="pager group" role="navigation" aria-label="Pager" data-apollo-name="Pager">
    <li class="group__item">
        <a href="#" rel="prev" class="pager__previous">
							<span
                                    class="small-caps color--subtle">Previous</span>
            <p class="heading size--l margin--third">The
                Adventure of the Engineer’s Thumb</p>
        </a>
    </li>
    <li class="group__item align-right-from-lap">
        <a href="#" rel="next" class="pager__next">
            <span class="small-caps color--subtle">Next</span>
            <p class="heading size--l margin--third">The
                Adventure of the Noble Bachelor</p>
        </a>
    </li>
</ul>
