/*------------------------------------*\
    #Swatches
\*------------------------------------*/



.swatches {

	display: flex;
	flex-flow: row wrap;

	// font-size: 0.88em;
	//
	margin-left: -0.5em;
	margin-right: -0.5em;

}



.swatch {

	margin-top: 0;

	// display: block;

	flex: 1 0 25%;
	// width: 25%;
	// width: calc(25% - 0.75em);
	margin-bottom: 1.25em;

	padding: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;

	border: 1px solid luma(80);
	box-shadow: 0 0.25em 0.25em -0.25em rgba($black, 0.1);

	position: relative;

	+ .swatch {

		// margin-left: 1em;

	}

}



.swatch__sample {

	margin-top: 0;

	display: block;

	width: 100%;
	width: calc(100% + 2em);
	height: 4em;

	// border-radius: 50%;

	// position: absolute;
	// top: 1em;
	// right: 1em;

	border-bottom: 1px solid rgba(0,0,0,0.1);

	margin: -1em -1em 1em -1em;

}


.swatch__heading {

	// margin-top: 0;

}
