/*------------------------------------*\
    #Headings
\*------------------------------------*/



/*
 * Use simple class names to apply sizes to your elements or section.
 *
 * Ideally, we would employ a naming pattern which follows the
 * functional aesthetics of the headings, i.e. `.heading` and
 * `.heading--primary` but ordinal numbers in Latin is even more
 * difficult to mentally map than the Greek alphabet.
 */
.size--s,
.size--m,
.size--l,
.size--xl,
.size--xxl,
.size--xxxl {

	// Ideally, line-heights need to be calculated based on readability
	// which in turn is based on font-size itself. We just set a default here
	// because we need to
	line-height: 1.25;

	// letter-spacing: 0.015em;

}



.size--xxxl {

	font-size: pow($font-scale--default, 4) +rem;

	@include mq($breakpoint-lap) {

		font-size: pow($font-scale--larger, 4) +rem;

	};

}



.size--xxl  {

	font-size: pow($font-scale--default, 3) +rem;

	@include mq($breakpoint-lap) {

		font-size: pow($font-scale--larger, 3) +rem;

	};

}



.size--xl {

	font-size: pow($font-scale--default, 2) +rem;

	@include mq($breakpoint-lap) {

		font-size: pow($font-scale--larger, 2) +rem;

	};

}



.size--l {

	font-size: pow($font-scale--default, 1) +rem;

	@include mq($breakpoint-lap) {

		font-size: pow($font-scale--larger, 1) +rem;

	};

}


// This size needs revising
// This is also the default body copy size
.size--m {

	font-size: 1rem;
	line-height: pow($font-scale--default, 1);

	@include mq($breakpoint-lap) {

		font-size: 1rem;
		line-height: $font-leading/$font-size;
		// line-height: pow($font-scale--larger, 1);

	};

}



.size--s {

	font-size: rem($font-size/$font-scale--default);
	line-height: $font-leading/$font-size;

	font-weight: $font-weight;

	@include mq($breakpoint-lap) {

		font-size: rem($font-size/$font-scale--larger);
		line-height: $font-leading/$font-size;

	};

}



// axiomatic subheading
* + .subheading {

	margin-top: 3em;
	padding-top: 2em;

	border-top: 1px solid $subtle-color;

}
