/*------------------------------------*\
    #Elements
\*------------------------------------*/



 small,
 .small {

	 @include text-s;

 }


.small-caps {

	// font-size: 0.89em;
	font-size: em(12);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-shadow: 0 0 0 $black;

}



strong,
.strong{

	// color: red;
	font-weight: $emphasis-weight;

}


em {

	// Passes AA level against $subtle-color as background-color
	color: luma(30);

}
