<ol class="breadcrumbs" itemscope
    itemtype="http://schema.org/BreadcrumbList" data-apollo-name="Breadcrumbs">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/" itemprop="item">
            <span itemprop="name">Home</span> </a>
        <meta itemprop="position" position="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/level-1" itemprop="item">
            <span itemprop="name">Level 1</span> </a>
        <meta itemprop="position" position="2"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="http://www.domain.com/level-1/level-2"
           itemprop="item"> <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" position="3"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
			        <span itemprop="item">
			            <span itemprop="name">Current page title</span>
			        </span>
        <meta itemprop="position" position="4"/>
    </li>
</ol>
